<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcmute.endsemesterproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EndSemesterProject">
        <activity
            android:name=".Controllers.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.ChatActivity"
            android:exported="false"
            android:parentActivityName=".Controllers.MainActivity" />
        <activity android:name=".Controllers.MainActivity" />
        <activity
            android:name=".Controllers.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controllers.RegisterActivity" />
        <activity
            android:name=".Controllers.SettingsActivity"
            android:parentActivityName=".Controllers.MainActivity" />
        <activity android:name=".Controllers.GroupChatActivity" />
        <activity android:name=".Controllers.PhoneLoginActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Controllers.FindFriendsActivity"
            android:parentActivityName=".Controllers.MainActivity" />
        <activity android:name=".Controllers.ProfileActivity" />
    </application>

</manifest>